/*Gooroom Style*/
.listbox {
    border-width: 0;
    background-color: rgba(0,0,0,0.0);
}

.app_row {
    border-radius: 16px;
    background-color: #ffffff;
}

.app_label {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
	font-stretch: normal;
    font-style: normal;
    color: #000000;
}

.status_label {
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #4a4a4a;
}

.button {
    border-width: 0;
    background-color: rgba(0,0,0,0.0);
}

.button_install_label {
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #0251ff;
}

.button_close_label {
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #4a4a4a;
}

.installer_progress {
	border-radius: 3px;
	color: #4a4a4a;
	background-color: #e5e5e5;
}

.installer_progress progress {
	background-color: #4a4a4a;
}


.installer_label {
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #000100;
}

.installer_button {
    border-radius: 5px;
	color:#ffffff;
    background-color: #4a73d6;
}

.installer_button:hover {
	color:#ffffff;
    background-color: #3986e1;
}

.installer_button:disabled {
	color:#ffffff;
    background-color: #9b9b9b;
}

.installer_button_label {
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

.installer_checkbox {
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.default_button:hover {
    background-color: rgba(201,201,201,0.6);
}

.default_button:checked {
    background-color: rgba(201,201,201,0.6);
}

.default_button_label {
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.default_button_label:checked {
    color : #000000;
}


